*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: #fdfdfd;
    color: #333;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    background: #0e3959;
    color: #fff;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}
nav a:hover{
    color: yellow;
}

/*home section*/
#home{
    position: relative;
    height: 90vh;
    display: flex; /*makes the content side by side*/
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgb(0, 0, 0, 0.5);
}
.home-content{
    position: relative;
    z-index: 3;
    max-width: 800px;
    text-align: center;
}
.home-content h2{
    font-size: 3rem;
    margin-bottom: 15px;
}

.home-content p{
    font-size: 1.2rem;
    margin-bottom: 25px;
}
.home-content .btn{
    background-color: yellow;
    color: #0e3959;
    padding: 12px 28px;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
}
.home-content .btn:hover{
    background: #fff;
    color: #0e3959;
}

/*section allignment*/
section{
    width: 100%;
    display: flex;
    justify-content: center;
}

section .container{
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}
/*destination section*/
#destinations{
    padding: 10px 0;
    background: #fdfdfd;
    text-align: center;
}

#destinations h2{
    font-size: 2.3rem;
    margin-bottom: 40px;
    color: #222;
}
.destinations-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 25px;
    justify-content: center;
}

.destinations-card{
    background:#fff;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.destinations-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.destinations-card h3{
    padding: 15px;
    font-size: 1.3rem;
    color: #222;
    background: #fdfdfd;
}

/*packages section*/
#packages{
    padding: 10px 0;
    background: #fdfdfd;
    text-align: center;
}

#packages h2{
    font-size: 2.3rem;
    margin-bottom: 40px;
    color: #222;
}
.packages-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 25px;
    justify-content: center;
}

.packages-card{
    background:#fff;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.packages-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.packages-card h3{
    padding: 15px;
    font-size: 1.3rem;
    color: #222;
    background: #fdfdfd;
}

/*testimonials*/
#testimonials{
    padding: 60px 0;
}

#testimonials h2{
    text-align: center;
    color: #0e3959;
    font-size: 2rem;
    margin-bottom: 40px;
}
.testimonials-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 25px;
}
.testimonial{
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    padding: 15px;
    text-align: center;
}
.testimonial i{
    color: yellow;
    margin-bottom: 10px;
}

.testimonial p{
    font-style: italic;
    margin-bottom: 10px;
}
.testimonial h4{
    color: #0e3959;
    margin-top: 10px;
}

/*booking section*/
#booking{
    padding: 60px 0;
    background: #f8f9fa;
}

#booking h2{
    text-align: center;
    color: #0e3959;
    font-size: 2rem;
    margin-bottom: 30px;
}

#booking p{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
}

form{
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

form input, form select, form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button{
    background: #0e3959;
    color: #fff;
    border: none;
    padding: 13px 23px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bolder;
}

form button:hover{
    background: yellow;
    color: #0e3959;
}

footer {
  background: #0e3959;
  color: #fff;
  padding: 40px 0 0;
}
footer .footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
footer h3 {
  margin-bottom: 15px;
}
footer ul {
  list-style: none;
}
footer ul li {
  margin-bottom: 8px;
}
footer ul a {
  color: #fff;
  text-decoration: none;
}
footer iframe {
  width: 100%;
  border: none;
  border-radius: 10px;
  height: 200px;
}
.footer-bottom {
  text-align: center;
  padding: 15px 0;
  background: #092940;
  margin-top: 20px;
  font-size: 0.9rem;
}